<?xml version="1.0"?>
<launch>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find aramis_description)/robots/aramis_description.xacro" />

    <!-- send fake joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="FALSE"/>
    </node>

     <include file="$(find freenect_launch)/launch/freenect.launch" >
        <arg name="rgb_processing"                  value="true" />
        <arg name="ir_processing"                   value="false" />
        <arg name="depth_processing"                value="true" />
        <arg name="depth_registered_processing"     value="false" />
        <arg name="disparity_processing"            value="false" />
        <arg name="disparity_registered_processing" value="false" />
        <arg name="camera" default="kinect" />
        <arg name="rgb_frame_id" value="kinect_optical_frame" />
        <arg name="depth_frame_id" value="kinect_optical_frame" />
    </include>

    <!-- Kinect cloud to laser scan -->
     <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
      <remap from="image"     to="/kinect/depth/image_rect"/>
      <!-- <remap from="camera_info" to="/kinect/depth/camera_info"/> -->
      <remap from="scan" to="/kinect_scan"/>
      <param name="scan_height" value="50"/>
      <param name="range_max" type="double" value="2"/>
      <param name="output_frame_id" type="str" value="kinect_frame"/>
    </node>
    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <!-- Show in Rviz   -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find aramis_description)/launch/aramis_navigation.rviz"/> -->
    <!-- sonar visualization -->
    <!-- <node name="sonar_viz" pkg="sonar_viz" type="sonar_viz"> -->
        <!-- <remap from="sonar_range" to="aramis/sonar_range"/> -->
        <!-- <remap from="sonar_cloud" to="aramis/sonar_cloud"/> -->
    <!-- </node> -->
    <node name="p2os_driver" pkg="p2os_driver" type="p2os_driver">
        <param name="port" value="/dev/ttyUSB0" />
        <param name="use_sonar" value="true" />
        <param name="pulse" value="1.0" />
    </node>
</launch>
